.landing__header--container
  min-height: 600px
  width: 100%
  padding-top: 63px

.landing__header--wrap

.headline-quote
  max-width: 600px
  margin: 5em auto
  font-family: "Merriweather-LightItalic", serif
  font-style: italic
  font-weight: 300
  color: $text__black--primary

.headline-author
  text-align: right

.landing__second--container
  background: black
  height: 700px

