
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600)
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script')
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,400,400i')
@import url('https://fonts.googleapis.com/css?family=Cinzel|Merriweather+Sans|Niconne|Tangerine')
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i')
@import url('https://fonts.googleapis.com/css?family=Merienda:400,700')
@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps')
@import url('https://fonts.googleapis.com/css?family=Averia+Libre:300i,400,400i')

// Variables
@import "variables"

// Materialize
@import "node_modules/materialize-css/dist/css/materialize"

// Imports
@import "partials/all"
@import "pages/all"

.input-field
  position: relative

.form-error
  position: absolute
  bottom: 0
  left: 0
  color: red