
// Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,400,400i|Cinzel|Lato:300,300i,400,400i')
//@import url('https://fonts.googleapis.com/css?family=Cinzel')
//@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i')

// Variables
@import "variables"

// Materialize
@import "node_modules/materialize-css/dist/css/materialize"

// Imports
@import "partials/all"
@import "pages/all"

.quote__index--wrap
  padding-top: 35px

.quote__card
  border: 1px solid $text__black--disabled
  padding: 1em
  margin-bottom: 1em
  background: white
  a
    color: $text__black--primary
    display: block
    font-family: $font-family--quotes
