body
  background: white

body.inactive
  overflow: hidden

#root-body.inactive
  filter: blur(1px)

[v-cloak]
  display: none

.input-field
  position: relative

.form-error
  position: absolute
  bottom: 0
  left: 0
  color: red

.font-14
  font-size: 14px

.font-21
  font-size: 21px

hr
  height: 1px
  border: 0
  background: rgba(0, 0, 0, .38)

.large-spacer
  margin: 100px auto

h1,
h2,
h3,
h4,
h5
  font-family: $font-family--headings

.relative
  position: relative

.pagination
  .active
    padding: 5px 10px

.quote-text
  font-family: $font-family--quotes
  font-style: italic

.language-markup
  padding: 5px !important